body {
    width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color:yellow;
	background-color: #000;
	overflow: hidden;

}

h1 {
    
    padding-bottom: 30px;
}

h2 {
    
    padding-bottom: 30px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.animation-star-wars {
    text-align: center;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    top: -100%;
    transform-origin: 50% 79%;
    transform: perspective(300px) rotateX(25deg);
}

.animation-star-wars::after {
    position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: -100%;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}


.animation-text {
    width: 400px;
    font-size: 21px;
    line-height: 60px;
    text-align: start;
}

.box-tex {
    position: absolute;
	top: 100%;
    left: 40%;
	animation: scroll 30s linear 0s infinite;
}


    @keyframes scroll {
        0% { top: 100%; }
        100% { top: -170%; }
        
    }

